<div id="feedback_tab" class="content_tab" ng-controller="FeedbackController">

    <h2>Feedback</h2>

    <div class="feedback_description">
        <p>Thank you for helping to test PlusPrivacy! This service is being developed for global public good and is
            sponsored by the European Union. We have done our best to maximise your control of your privacy - but we
            need your feedback to perfect the solution and have it adopted by users at large. Please help us to improve
            PlusPrivacy by filling this survey. It will only take a couple of minutes.</p>

        <p>PlusPrivacy team</p>

        <p class="required">* Required</p>
    </div>

    <form ng-submit="submitFeedback()">
        <div class="questions">
            <div class="question" ng-repeat="question in feedbackQuestions" ng-switch="question.type">
                <div class="question_title">
                    <h4>{{question.title}}</h4>
                </div>
                <div ng-switch-when="multipleRating">

                    <ul>
                        <li class="list_header">
                            <div class="row">
                                <div class="col-md-6">
                                    <label><i>{{question.description}}</i></label>
                                </div>
                                <div class="col-md-6">
                                    <label ng-repeat="rangeItem in question.range" style="width:{{100/question.range.length}}%">{{rangeItem}}</label>
                                </div>
                            </div>
                        </li>
                        <li ng-repeat="item in question.items">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{{item}}</label>
                                </div>
                                <div class="col-md-6">
                                    <label ng-repeat="rangeItem in question.range" style="width:{{100/question.range.length}}%">
                                        <input type="radio" ng-model="answers[question.title+'['+item+']']"
                                               name="{{item}}"
                                               value="{{rangeItem}}"/>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div ng-switch-when="multipleSelection">
                    <ul>
                        <li ng-repeat="item in question.items">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>{{item}}</label>
                                </div>
                                <div class="col-md-2">
                                    <label>
                                        <input type="checkbox" ng-model="answers[question.title+'['+item+']']"/>
                                        <span></span>
                                    </label>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>

                <div ng-switch-when="radio" class="radioQuestion">
                    <label ng-repeat="item in question.items">
                        <label>{{item}}</label>
                        <input type="radio" ng-model="answers[question.title]" name="{{item}}"
                               value="{{item}}"/>
                        <span></span>
                    </label>
                </div>

                <div ng-switch-when="textInput">
                    <textarea ng-model="answers[question.title]"></textarea>
                </div>
            </div>
        </div>
        <button class="btn-primary" value="Submit">Submit</button>
    </form>

</div>