<!--Home-->

<div id="home_tab" class="active content_tab">

    <div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div ui-view>
                <div class="tab-pane active" id="main">


                    <h3 align="center">Welcome to PlusPrivacy – your online privacy dashboard</h3>

                    <div class="main-parent">
                        <div class="image_container">
                        </div>
                        <div class="presentation">

                            <p>PlusPrivacy provides you with a unified dashboard for protecting yourself from a variety
                                of
                                threats to your privacy. It will enable you to control the privacy settings in your
                                social
                                network accounts, hide your email identity, block ads, trackers and malware and prevent
                                unwanted apps and browser extensions from tracking you and collecting your private
                                data.</p>

                            <p>If you explicitly choose to do so, PlusPrivacy will help you to trade your privacy for
                                rewards and benefits offered by participating service providers.</p>

                            <p>The sidebar will help you to explore PlusPrivacy. Take back your online privacy!</p>


                        </div>
                    </div>


                </div>
            </div>

        </div>


    </div>
    <!-- END Home-->