<!--PRIVACY POLICY-->
<div id="privacy_policy_tab" >
    <h1>Plus Privacy – Privacy Policy</h1>
    <div id="privacy_policy">
        <h2>Overview</h2>
        <p>We place the highest value on the protection and security of your data. Protecting your online privacy and maximising your control over your private data is the essence and the purpose of Plus Privacy service.</p>
        <p>The legal basis for privacy in connection with our services is provided by the EU General Data Protection (GDPR) regulation and the upcoming ePrivacy regulation. Where possible, we will go beyond the most stringent requirements of these regulations in order to protect your privacy.</p>
        <p>This privacy policy will be updated from time to time to reflect the changes in our offering or in applicable laws. For example, currently our services are delivered free of charge, and a free tier will always be offered. In the future, additional paid or free tiers may be introduced that may require changes in this privacy policy, in which case it will be amended.</p>
        <h2>Data minimization</h2>
        <p>We will never collect or store any information that is not required for the delivery of the services to which you subscribe. Any information that we do collect is and will always be explicitly accounted for in this Privacy policy.</p>
        <h2>Fingerprinting and IP address logging</h2>
        <p>We do not log your IP address. We do not fingerprint you in any way and do not mine the device and software that you use to access our services (such as browser and personal computer) for information that can lead to your identification. We do not obtain in any way and do not store any information about you that you do not provide to us explicitly. We do store some personal data as required for delivery of some of our services, as explained below.</p>
        <h2>The personal data (PD) that we store</h2>
        <p>The only piece of personal data (PD) that we currently store is your email address. We will never share your PD with a 3<sup>rd</sup> party without your explicit consent. You are not required to provide any PD other than your email address to register to the PlusPrivacy service.</p>
        <h2>The non-personal data (n-PD) that we store</h2>
        <p>Information is considered to be non-personal data (n-PD) if it cannot be linked to you unless your email address or other personally identifying information is provided with it. We collect and store in your account record the following (n-PD):</p>
        <ul>
            <li>Your privacy settings in the supported social networks, which currently include Facebook, Twitter and LinkedIn.</li>
            <li>The privacy-for-benefit (PfB) deals that you subscribe to</li>
            <li>Your alternative email identities</li>
            <li>Your ad blocking and anti-tracking settings</li>
            <li>Your Plus Privacy account password</li>
        </ul>
        <h2>Transient email data</h2>
        <p>Our identity management service involves relaying of email to and from your correspondents. We do not inspect and do not store the content (message body and attachments) of the email messages. We do inspect and rewrite part of the email message headers in order to provide the service. Once the transmission of an email message through our servers is completed, no trace of it is left on our servers.</p>
        <h2>Privacy-for-benefit deal-related data</h2>
        <p>We plan in the future to offer the service of privacy-for-benefit (PfB) deal brokerage between you and participating online service providers (OSPs). To deliver such services, we will provide certain PD, such as your email address, to the participating OSPs. By using such services, you agree to such transfer of information to OSPs. If you do not explicitly subscribe to a PfB deal, no such information will be provided to OSPs. We will amend this section with more specific description of the data provided to the OSPs once we start offering the PfB services.</p>
        <h2>Cookies</h2>
        <p>For authentication we use so-called session cookies in the user menu and webmail. The data that is saved to your computer serves exclusively for authentication and is, in particular, not used to compile user profiles or the like. The cookies are deleted at the end of the respective session. If you use the simple version of the homepage (ECO switch), a cookie will be permanently saved. In this cookie, only one piece of information is saved: the information that says that when you visit our site you would like to see the simple version of the homepage. This cookie will not be used to track you or compile a user profile.</p>
        <h2>Compliance with court orders</h2>
        <p>We will obey a valid court order or subpoena if these require us to provide the information that we store to law enforcement authorities or a court of law. We will only do so upon legal scrutiny and confirmation of validity of such requirement in the country where we operate. Currently our servers operate from Romania, an EU Member State where the GDPR is in full force.
        </p>
    </div>
</div>
<!-- END PRIVACY POLICY-->