<!--PRIVACY POLICY-->
<div id="privacy_policy_tab" >
    <h1>PlusPrivacy – Privacy Policy</h1>
    <div id="privacy_policy">
        <h2 style="font-size:25px">Overview</h2>
        We place the highest value on the protection and security of your data. Protecting your online privacy and maximising your control over your private data is the essence and the purpose of PlusPrivacy service.
        The legal basis for privacy in connection with our services is provided by the EU General Data Protection (GDPR) regulation and the upcoming ePrivacy regulation. Wherever possible we go beyond the most stringent requirements of these regulations in order to protect your privacy.
        This privacy policy will be updated from time to time to reflect the changes in our offering.
        <h2 style="font-size:25px">Data minimization and full transparency</h2>
        We never collect or store any information that is not required for delivery of the services to which you subscribe. All the information that we do collect is explicitly accounted for in this Privacy Policy.
        <h2 style="font-size:25px">Fingerprinting and IP address logging</h2>
        We do not log your IP address. We do not fingerprint you or your devices in any way and do not transfer any information from your devices to our servers unless you explicitly choose to subscribe to one of our opt-in services, in which case we receive and store minimal private data as described below.
        <h2 style="font-size:25px">Anonymous use</h2>
        You can use our services anonymously, without providing any personal or device information whatsoever to our servers. To do so, simply use our services (browser extension, mobile apps) without logging in. Our opt-in services will not be available in this mode.
        <h2 style="font-size:25px">Storing your data for opt-in services</h2>
        The only opt-in service that is currently available is email identity management. In order to use it, you need to log in. When you do, your email address and the hash of your password are stored on our servers, in addition to any transient email data as described below.
        <h2 style="font-size:25px">Transient email data</h2>
        Our opt-in identity management service involves relaying email between your real email address and those of your correspondents. We do not inspect and do not store the content (message body and attachments) of the email messages. We do inspect and rewrite part of the email message headers in order to provide the service. Once the transmission of an email message through our servers is completed, no trace of it is left on our servers.
        <h2 style="font-size:25px">Cookies</h2>
        In case you choose to log in, for authentication we use so-called session cookies that store data on your computer. The cookies are deleted at the end of the respective session.
        <h2 style="font-size:25px">Compliance with court orders</h2>
        We will obey a valid court order or subpoena if these require us to provide the information that we do store, to law enforcement authorities or a court of law. We will only do so upon legal scrutiny and confirmation of validity of such order or subpoena in the country where we operate. Currently our servers operate from Lithuania, an EU Member State that complies with GDPR.
        <h2 style="font-size:25px">Account deletion</h2>
        When you delete your account, all the data linked to it is wiped: email address, account password, alternative email identities etc., and our servers forget that this account ever existed.
        To prevent man in the middle attacks, alternative email identities in the form identity@plusprivacy.com that were present in the deleted account become permanently unavailable for future use by any user of PlusPrivacy, including yourself if you re-register for the service with the same email address.
        After you delete your account, you can continue to use our services anonymously as described above.
    </div>
</div>
<!-- END PRIVACY POLICY-->