<div id="social_networks_tab" ui-view>
    <div class="row">
        <div class="col-md-12">
            <div class="single_click_privacy_panel clearfix">
            <div class="single_click_privacy_button_ctn">
                <singleclickprivacy></singleclickprivacy>
            </div>

                <div class="apply_settings_icon col-xs-5">
                </div>
                <div class="col-xs-7">
                    <h3>Single click social network privacy</h3>
                </div>

                <div class="col-xs-12">
                    <p>Clicking the <b>Single click privacy</b> button will automatically change all the privacy options in your social network accounts to their most privacy-friendly settings. If you want to edit privacy settings manually, select the social network on the sidebar.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>