<html ng-app="operando">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{+P} PlusPrivacy</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/operando/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/assets/bootstrap/css/plusprivacy-theme.css">
    <link rel="stylesheet" type="text/css" href="/operando/assets/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/assets/bootstrap/css/bootstrap.vertical-tabs.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/angular-loading-bar/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/jquery-custom-scrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/ui-select/select.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/ui-select/selectize.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/angular-datatables/datatables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/angular-ui-notification/angular-ui-notification.min.css">
    <link rel="stylesheet" type="text/css" href="/operando/utils/jquery-tipsy/tipsy.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/operando/assets/bootstrap/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/operando/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/operando/assets/bootstrap/js/jquery.bootstrap.wizard.js"></script>

    <script type="text/javascript" src="/operando/assets/bootstrap/js/plusprivacy-theme.js"></script>
    <script type="text/javascript" src="/operando/utils/angular.min.js"></script>
    <script type="text/javascript" src="/operando/utils/oc-lazy-load/ocLazyLoad.min.js"></script>
    <script type="text/javascript" src="/operando/utils/ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-animate.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-resource.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-loading-bar/loading-bar.min.js"></script>
    <script type="text/javascript"
            src="/operando/utils/jquery-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/operando/utils/ui-select/select.min.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-datatables/angular-datatables.min.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-datatables/angular-datatables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-modal-service.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-ui-notification/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="/operando/utils/jquery-tipsy/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/operando/utils/polyglot/polyglot.min.js"></script>

    <script type="text/javascript" src="/operando/utils/angular-strap/angular-strap.min.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-strap/angular-strap.tpl.js"></script>

    <script type="text/javascript" src="/operando/utils/angular-cookies.js"></script>
    <script type="text/javascript" src="/operando/utils/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/operando/directives.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/apps/OperandoCore.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/services/firstrun-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/services/messenger-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/services/i18n-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/services/watchdog-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/apps/OperandoApp.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/controllers/appController.js" charset="utf-8"></script>
    <script type="text/javascript" src="/operando/controllers/readSocialNetworkPrivacySettings.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="/operando/controllers/accountController.js" charset="utf-8"></script>

    <!--<script type="text/javascript" src="/operando/util/OSP.Settings.js" charset="utf-8"></script>-->

    <script type="text/javascript" src="/operando/schema-form.js"></script>


    <script type="text/javascript" src="/operando/util/computePrivacyPollution.js" charset="utf-8"></script>

</head>
<body ng-controller="appCtrl" class="operando">
<div ng-switch="userIsLoggedIn">
    <div ng-switch-when="true">
    <nav class="navbar operando-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="http://plusprivacy.com" target="_blank">
                    <img class="image_logo" alt="Brand" src="/operando/assets/images/icons/logo-light-big.png">
                </a>
            </div>

            <ul class="nav navbar-nav pull-right">


                <li ui-sref-active="active">
                    <a class="menu_icon notifications_orange_icon" ui-sref="notifications">
                        <div class="menu_item_content">
                            <notification-counter></notification-counter>
                        </div>
                    </a>
                </li>


                <li ui-sref-active="active" class="dropdown dropdown-user dropdown-dark">

                    <a class="menu_icon user-account dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <div class="menu_item_content">
                            <span class="email"> {{user.email}} </span>
                        </div>
                    </a>


                    <ul class="dropdown-menu dropdown-menu-default">
                        <li ng-class="{active: $state.includes('account')}">
                            <a class="menu_icon account" ui-sref="account.personal-details">Account</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a class="menu_icon logout" ng-click="logout()">
                                Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.container-fluid -->
    </nav>


    <div id="wrapper">

        <div class="sidebar_expandable_menu">

            <div class="col-xs-2"> <!-- required for floating -->


                <ul class="nav nav-tabs tabs-left primary-menu panel-group" id="accordion" role="tablist"
                    aria-multiselectable="true">

                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon home_icon" ui-sref="home">Home</a>
                    </li>

                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon social_networks_icon" ui-sref="socialNetworks">Social Networks</a>
                        <ul class="panel-group nav nav-tabs tabs-left sub-menu pq_social_network" id="sn_content" ng-if="$state.includes('socialNetworks') || $state.includes('preferences')"
                            ng-controller="readSocialNetworkPrivacySettings">
                            <li ng-repeat="osp in osps">
                                <a
                                        class="menu_icon" ng-class="osp.key+'_icon'"
                                        ui-sref-active="active"
                                        ui-sref="preferences.sn({sn:osp.key})">{{osp.title}}</a>
                            </li>
                        </ul>
                    </li>

                    <li  class="no-sub-menu">
                        <a class="menu_icon extensions_icon" ui-sref="extensions">Extensions & Apps</a>
                        <ul class="panel-group nav nav-tabs tabs-left sub-menu pq_social_network" id="apps_content" ng-if="$state.includes('extensions') || $state.includes('network') "
                            ng-controller="socialAppsController">
                            <li>
                                <a ui-sref="extensions" ui-sref-active="active" class="menu_icon plugin_icon">
                                    Chrome Extensions</a>
                            </li>
                            <li ng-repeat="sn in sns">
                                <a
                                        class="menu_icon" ng-class="sn+'_icon'"
                                        ui-sref-active="active"
                                        ui-sref="network.apps({sn:sn})">{{sn}} Apps</a>
                            </li>
                        </ul>
                    </li>


                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon privacy_deals_icon" ui-sref="deals">Privacy Deals</a>
                    </li>

                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon identity_management_icon" ui-sref="identityManagement">My Identities</a>
                    </li>


                    <li ng-class="{active: $state.includes('admin')||$state.includes('analyst')}" ng-if="user.organisationId =='Analysts'"
                        class="panel menu_icon dashboard_icon has_children" id="dashboard">
                        <a class="panel-heading" role="tab" id="headingFour" role="button" data-toggle="collapse"
                           ui-sref="admin.privacy_settings({sn:'facebook'})"
                           data-parent="#accordion" data-target="#collapseFour" aria-controls="collapseFour">Dashboard</a>

                        <div id="collapseFour" class="panel-collapse collapse panel-body" role="tabpanel"
                             aria-labelledby="headingFour">
                            <ul class="panel-group nav nav-tabs tabs-left sub-menu" id="dashboard_content">

                                <li ng-class="{active: $state.includes('admin')}"
                                    class="panel menu_icon reading_privacy_icon">
                                    <a class="panel-heading" role="button" data-toggle="collapse"
                                       ui-sref="admin.privacy_settings({sn:'facebook'})"
                                       data-parent="#dashboard_content" data-target="#collapseFive">Reading Settings</a>

                                    <div id="collapseFive" class="panel-collapse-child collapse" role="tabpanel"
                                         aria-labelledby="headingFive">
                                        <ul class="nav nav-tabs tabs-left sub-menu panel-body"
                                            ng-controller="readSocialNetworkPrivacySettings">

                                            <li ng-repeat="osp in osps"><a
                                                    class="menu_icon" ng-class="osp.key+'_icon'"
                                                    ui-sref-active="active"
                                                    ui-sref="admin.privacy_settings({sn:osp.key})">{{osp.title}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li ng-class="{active: $state.includes('admin')}"
                                    class="panel menu_icon edit_privacy_icon">

                                    <a class="panel-heading" data-toggle="collapse" data-parent="#dashboard_content"
                                       ui-sref="analyst.settings_editor({sn:'facebook'})"
                                       data-target="#collapseSix">Edit Settings</a>

                                    <div id="collapseSix" class="panel-collapse-child collapse" role="tabpanel"
                                         aria-labelledby="headingSix">
                                        <ul class="nav nav-tabs tabs-left sub-menu panel-body"
                                            ng-controller="readSocialNetworkPrivacySettings">

                                            <li ng-repeat="osp in osps" ng-class="{active: $state.includes(osp.key)}"><a
                                                    class="menu_icon" ng-class="osp.key+'_icon'"
                                                    ui-sref-active="active"
                                                    ui-sref="analyst.settings_editor({sn:osp.key})">{{osp.title}}</a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </li>

                    <li ui-sref-active="active" class="no-sub-menu"><a class="menu_icon abp_icon"
                                                                       ui-sref="abp">Ad blocking & anti-tracking</a></li>

                </ul>
            </div>
        </div>


        <div class="content_wrapper">
            <div class="content" ui-view></div>
        </div>

    </div>

    <div id="loading-bar-container"></div>
    <footer>
        <span id="return-to-top"><i class="icon-chevron-up"></i></span>

        <div id="footer-copyright">
            <div id="footer-copyright-content" class="clearfix">

                <p>This service is supported by the European Commission under the Horizon 2020 Programme (H2020), as part
                    of the OPERANDO project (GA no. 653704).
                </p>

            </div>
        </div>
    </footer>
</div>
<div ng-switch-when="false" class="loggedin_status_false">
    <div class="big-loader">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>

</div>
</div>
</body>
</html>