<div>
    <div id="identities_container">
        <div class="table-responsive">
        <table class="table table-bordered">

            <tbody>

            <tr  identity-row ng-repeat="identity in identities | filter:{isReal:true} " identity="identity">
            </tr>


            <tr class="thead">
                <td colspan="3">Alternative identities</td>
            </tr>


            <tr  identity-row ng-repeat="identity in identities | filter:{isReal:false}" identity="identity">
            </tr>

            </tbody>
        </table>

    </div>
        <p><small>The selected identity will be automatically suggested as your email address when you register at web sites. Emails sent to any of your alternative identities will be relayed to your real email address. If you delete an alternative identity, emails sent to it will bounce.</small></p>
    </div>


    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn-primary add_new_identity_btn" ng-disabled="identities.length == max_identities_nr" ng-click="add_new_sid()">Add identity</button>
        <a type="button" class="add_identitiy_popover" data-placement="right" data-html="true", data-container="body"
           data-content="You can provide an alternative identity to websites and people instead of your real email address. Emails sent to your alternative identity will be relayed to the email address with which you are registered to PlusPrivacy. When you reply to these emails, they will be relayed to the original sender, with your alternative identity placed in the From field of the email message. This allows you to communicate without disclosing your real email address.<br/>
You can delete an alternative identity any time, in which case emails sent to it will bounce." data-trigger="hover"
           data-auto-close="true"
           bs-popover></a>
    </div>



    <div ng-if="max_identities_nr - identities.length>0" style="margin-top: 20px"><span class="identities_number">You have {{max_identities_nr - identities.length}} identities left</span></div>
    <div ng-if="max_identities_nr - identities.length==0" style="margin-top: 20px"><span class="identities_number">You cannot add more identities</span></div>
</div>

