<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{"deleteIdentity"|i18n}}</h3>
            </div>
            <div class="modal-body">
                <p ng-bind-html="deleteSidQuestion"></p>

            </div>
            <div class="modal-footer">

                <button type="button" ng-click="deleteIdentity()" class="btn btn-primary" data-dismiss="modal">{{"delete"|i18n}}</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary-black" data-dismiss="modal">{{"cancel"|i18n}}</button>

            </div>
        </div>
    </div>
</div>