<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Not Implemented</h3>
            </div>
            <div class="modal-body">
                <h4>This feature is not implemented!</h4>

            </div>
            <div class="modal-footer">

                <button type="button" ng-click="close('Yes')" class="btn btn-primary-black" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>