<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{{name}} permissions</h3>
            </div>
            <div class="modal-body">
                <div class="extension_permission" ng-repeat="permission in permissions">
                    {{permission}}
                </div>
                <div ng-if="permissionWarnings.length > 0">
                    <h4>Permission Warnings</h4>
                    <div class="extension_permission" ng-repeat="permissionWarning in permissionWarnings">
                        {{permissionWarning}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('Yes')" class="btn btn-primary-black" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>