.pp_logo{
    background: url('chrome-extension://__MSG_@@extension_id__/operando/assets/images/icons/logo-light-big.png') no-repeat center center transparent;
    width:300px;
    height:140px;
}

.pp_global_overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
.pp_item_overlay{
    position: relative;
    opacity: 0.2;
}

.pp_wizard_container{
    top: 56px;
    z-index: 100;
    position: fixed;
    height:calc(100% - 56px);
    width:300px;
    background: #4B4B4B;
}

.activity_controls_steps{
    margin-top: -24px;
    position: relative;
}

.pp_controller{
    text-align: center;
    bottom: 0;
    padding: 10px;
    position: absolute;
}

.pp_controller button{
    display: inline-block;
    margin:0px 10px;
    background: #FFB400;
    border: 0 none;
    padding: 15px 15px;
    color: #735307;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
.pp_controller button:disabled{
    opacity: 0.3;
    cursor: default;
}

.pp_wizard_item *{
    /*clear: both;*/
    cursor:pointer;
}

.pp_wizard_item.active .step_name{
    color: #ffb400;;
}

.pp_wizard_item.item_checked .step_index{
    background:#FFB400;
}

.pp_wizard_item.active .step_index{
    background:#FFB400;
}

.pp_wizard_item:after{
    clear: both;
    content: "";
    display: block;
}


.step_index{
    margin: 25px;
    background:#FEFEFE;
    border-radius:50%;
    text-align: center;
    height: 32px;
    width: 32px;
    float:left;
    padding: 5px;
    line-height: 32px;
    font-size: 18px;
    color: #967118;
    position: relative;
    z-index: auto;
}

.pp_wizard_item.active .step_index:before{

    width:46px;
    height:46px;
    border-radius:50%;
    content:"";
    background: #4B4B4B;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: -2;
}

.pp_wizard_item.active .step_index:after{
    border-radius:50%;
    content:"";
    display: inline-block;
    position: relative;
    top: -45px;
    left: -13px;
    width: 58px;
    height: 58px;
    z-index: -3;
    background: #FFB400;
}

.step_name{
    margin-left: 50px;
    padding-top: 32px;
    font-size: 18px;
    color: #FEFEFE;

}
.step_index.checked{
    background:#FFB400 ;
    color:#967118;
}

.step_name.checked{
    color:#967118;
}

.progress_bar{
    left: 43px;
    position: absolute;
    width: 4px;
    z-index: -5;
    background: #FFB400;
    min-height: 46px;
    margin-top: 46px;
}