/*
overwritten google css
*/
/*top blue bar*/
.y4VOmd{
    height: 56px!important;
}
body{
    overflow:hidden!important;
}

/*related settings*/
.YwhQ0 > .hyMrOd{
    display:none
}


div[jsaction='JIbuQc:r9DEDb']{
    display: none;
}

div[jsaction='JIbuQc:Wh8OAb']{
    position: relative;
}

.pp_global_overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}
.pp_item_overlay{
    position: relative;
    opacity: 0.2;
}

.downArrow{
    position: absolute;
    width:300px;
    left: -300px;
    color: #FFB400;
    top: -1px;
    font-size: 16px;
}

div[jsaction='JIbuQc:Wh8OAb'] .downArrow{
    width: 170px;
    top: 9px;
    left: -160px;
}
div[jsaction='JIbuQc:Wh8OAb'] .downArrow span{
    font-size: 16px;
    background-size: 30px 30px;
    padding-left: 36px;
    line-height: 16px;
    float:left;
}

div[jsaction='JIbuQc:Wh8OAb'] .downArrow img{
    width:16px;
    height: 16px;
    float: left;
}

.downArrow span{
    vertical-align: super;
    font-size: 18px;
    color:#ffb400;
    background-image: url('chrome-extension://__MSG_@@extension_id__/operando/assets/images/icons/pp-42-logo-orange.png');
    background-repeat:no-repeat;
    background-position: left center;
    padding-left: 42px;
    background-size: 36px 36px;
}
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -moz-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 17px;
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 76px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    top: 30%;
    padding: 15px;
    width: 50%;
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 14px;
    right: 10px;
    color: #bf7323;
    position: absolute;
}

.close:hover,
.close:focus {
    color: #a05f1a;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    color: white;
    padding: 13px;
    background: #FFB400;
    margin: 0px;
}

.modal-header h2{
    color: #FFF;
    margin: 0px;
    background: url('chrome-extension://__MSG_@@extension_id__/operando/assets/images/icons/pp-42-logo.png') no-repeat left center;
    font-weight: 300;
    padding-left: 50px;

}

/* Modal Body */
.modal-body {
    padding: 20px 10px;
    background:url('chrome-extension://__MSG_@@extension_id__/operando/assets/images/google-logo.png') no-repeat 10px center;
    font-size: 17px;
    padding-left: 50px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #ffb400;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.8s;
    padding: 0px;
    border: none;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 30%; opacity: 1}
}