<div ng-controller="socialAppController">
    <div class="tab-pane active" id="appsTab">
        <h2 class="{{sn}}_icon sn_icon"><span class="sn-title">Apps connected to my <span class="social_network_name">{{sn}}</span> account - </span>

            <div class="username_spinner" ng-if="!socialNetworkEmail">
                <div class="username_bounce1"></div>
                <div class="username_bounce2"></div>
                <div class="username_bounce3"></div>
            </div>
            <span class="logged_in_email" ng-if="socialNetworkEmail">You are logged in {{socialNetworkEmail.type =="username"?"as":"with"}} <b>{{socialNetworkEmail.account}}</b></span>
        </h2>
        <social-apps sn="sn"></social-apps>
    </div>
</div>