<nav class="navbar operando-navbar" ng-controller="headerController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="http://plusprivacy.com" target="_blank">
                <img class="image_logo" alt="PlusPrivac Analyst" src="icons/icon-32.png">
                <span>PlusPrivacy Analyst</span>
            </a>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav">


                <li class="dropdown" ui-sref-active="active">

                    <a class="dropdown-toggle" data-toggle="dropdown">

                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

                        <span class="menu-description">Social Networks</span>

                    </a>

                    <ul class="dropdown-menu">

                        <li class="dropdown" ng-repeat="osp in osps">

                            <a ui-sref-active="active" class="dropdown-toggle" data-toggle="dropdown" ui-sref="dashboard.socialNetworks({sn:osp.key})">

                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

                                <span class="menu-description">{{osp.title}}</span>

                            </a>

                        </li>

                    </ul>

                </li>

                <li class="dropdown" ui-sref-active="active">

                    <a class="dropdown-toggle" data-toggle="dropdown">

                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

                        <span class="menu-description">EULA Changes</span>

                    </a>

                    <ul class="dropdown-menu">

                        <li class="dropdown" ng-repeat="osp in osps">

                            <a ui-sref-active="active" class="dropdown-toggle" data-toggle="dropdown" ui-sref="dashboard.eula({sn:osp.key})">

                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

                                <span class="menu-description">{{osp.title}}</span>

                            </a>

                        </li>

                    </ul>

                </li>

            </ul>

        </div>
<div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav pull-left">
            <li ui-sref-active="active" class="dropdown dropdown-user dropdown-dark">
                <a class="menus_icon notifications" ng-class="{'no-notification' : notifications.length == 0}" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    <div class="menu_item_content">
                        <span class="notifications_item"></span>
                        <span class="notifications_count"><span>{{notifications.length}}</span></span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-default">
                    <li class="notifications_header">Notifications</li>
                    <notification-item ng-repeat="notification in notifications" notification="notification"></notification-item>

                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav pull-left">
            <li ui-sref-active="active" class="dropdown dropdown-user dropdown-dark">
                <a class="menu_icon user-account dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    <div class="menu_item_content">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span class="email"> {{user.email}} </span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-default">
                    <li ng-class="{active: $state.includes('account')}">
                        <a class="menu_icon account" ui-sref="account.personal-details">Account</a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a class="menu_icon logout" ng-click="logout()">
                            Log Out </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



    </div><!-- /.container-fluid -->
</nav>