<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-08-01T12:10:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Costin/Desktop/Projects/Official/PlusPrivacy/clients/ios/Operando/Operando.xcodeproj</string>
</dict>
</plist>
