@charset "utf-8";
/*
Theme Name: Enlightenment Child 4PlusPrivacy
Theme URI: https://www.plusprivacy.com/
Description: Our flagship multipurpose theme powered by Enlightenment Framework. With a clean, modern and responsive design backed by a powerful and flexible code base. Showcase any type of content anywhere. Create unlimited layouts. Customize all templates to your preference. Take WordPress as CMS to another level.
Version: 1.1.4
Author: Rafael Mastaleru
Author URI: https://www.plusprivacy.com/
Template:enlightenment
Tags: black, blue, gray, white, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fluid-layout, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
Text Domain: enlightenment
License: GNU General Public License v2.0
*/

/*CUSTOM*/


.navbar .nav > li > a {
    color: #31454a;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.archive-description p {
    margin: 24px 0 0;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    vertical-align: middle;
}

button,
a.button{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #333;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a.button{
    font-size: 18px;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
}

.user-buttons a{
    float:left;
    margin: 0px;
}

.user-buttons a:last-child{
    margin: 0px 20px;
}

ul.strong_points li{
    font-size: 22px;
    line-height: 45px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position:left center;
}

ul.strong_points li.social_networks{
    background-image:url(images/icons/social_networks.png);
}


#sidebar-header-secondary h2{
    font-size: 28px;
}

.footer-legal-nav-list li{
    list-style: none;
    display:inline-block;
    font-size:14px;
    margin-right:5px;
}
.footer-legal-nav-list li a{
    margin-right: 5px;
}

.footer-social-list li{
    float:left;
    margin: 5px;
}

#sidebar-footer{
    text-align: center;
}

.wpcf7 .input-group-addon{
    background-color: #41575c;
    border: 1px solid #31454a;
}
.wpcf7 .btn-send-email{
    color: #fff;
    background-color: #41575c;
    border: 1px solid #31454a;
}

.wpcf7 .glyphicon{
    color:#FFF;
}

.wpcf7 .glyphicon{
    color:#FFF;
}
.wpcf7 label{
    color:#41575c;
}
.wpcf7 input,
.wpcf7 textarea{
    border-color:#31454a;
    border-left: none;
    border-radius: 0px 4px 4px 0px!important;
    text-indent: 0!important;

}

.wpcf7{
    margin-bottom: 40px;
}


h2.contact{
    color:#FFF;
    margin: 30px 0px 30px 0px!important;
}

.sk-fading-circle {
    margin: 30px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

a.donwload-app,
a.donwload-app:hover{
    padding:0px;
    border:0px;
}
a.donwload-app img{
    box-shadow: none;
    opacity: 0.85;
}
a.donwload-app:hover img{
    background: none;
    opacity: 1;
}

#sidebar-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

#sidebar-footer-secondary{
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.col-centered{
   text-align: center;
}

.home #content{
    display: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}
body{
    padding-bottom: 130px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: calc(100% - 80px);
}

ul.nav.navbar-nav .dropdown-menu li a{
    line-height:36px;
    display: block;
}

ul.dropdown-menu>.active>a,
ul.dropdown-menu>.active>a:focus,
ul.dropdown-menu>.active>a:hover{
    background-color: #FFB400;
    background-image: none;
}

ul.dropdown-menu>li>a:focus,
ul.dropdown-menu>li>a:hover{
  background-image: none;
  background-color:#ffebba;
}

.venobox.video{
    background: url(images/play_video.png) no-repeat left center;
    color: #FFF;
    display: block;
    width:100%;
    height: 200px;
    background-size: cover;
}
.venobox.video:hover{
    background: url(images/play_video_hover.png) no-repeat left center;
    background-size: cover;
}

.intl-tel-input {
    width: 100%;
    margin-bottom: 10px;
}

.intl-tel-input .selected-flag .iti-flag {
    top: 40px;
    left: 15px;
    cursor: pointer;
}

.intl-tel-input .country-list {
    margin-top: 44px;
    border-radius: 5px;
    width: 100%;
}

.country-list .country .flag-box{
    float: left;
    padding: 7px;
}

.country-list .country{
    border:1px solid transparent;
    cursor: pointer;
}

.country-list .country.highlight{
    margin-bottom: 0px;
}

#newsletter_container span{
    color: #908363;
}

#newsletter_container .es_shortcode_form input[type="text"]{
    border-color: #908363;
}
#newsletter_container .es_shortcode_form input[type="button"]{
    border-left: 0px;
    padding: 9px;
    border-radius: 0px 5px 5px 0px;
    background: #FFB400;
    color: #FFF;
    border-color: #908363;
}

#newsletter_container{
    width: 100%;
    margin: 15px auto;
}
a.social_network_link img{
    background: none;
    border: none!important;
    box-shadow: none;
}


.navbar-brand > .site-logo {
    max-height: 48px;
    margin-top: -5px;
}

@media (min-width: 992px) {
    .navbar-large .site-logo {
        max-height: 96px;
        margin-top: -10px;
    }
}

@media (min-width: 768px){
    .single .site-content, .page .site-content {
        margin-top: 40px;
    }
}

#privacy_policy h2{
    font-weight: 300;
}

.mobile_login a{
    width:100%;
    padding:15px 20px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: 768px) {
    .navbar-nav {
        width:100%;
    }
}

@media (max-width: 600px) {
    body{padding-bottom: 245px;}
}

@media (max-width: 600px) {
    #sidebar-footer-secondary {
        bottom: 110px;
    }
}

@media (min-width:601px) and (max-width: 991px) {
    body{padding-bottom: 195px;}
}

@media (min-width:601px) and (max-width: 991px) {
    #sidebar-footer-secondary {
        bottom: 90px;
    }
}
@media (min-width: 769px) {
    #site-navigation{
        width: 560px;
        float:right;
    }
}
