<div>
    <div id="extensions_container">

        <table class="table table-bordered" id="extensions_table" datatable="ng" dt-column-defs="dtColumnDefs"  dt-options="dtOptions" dt-instance="dtInstance"  >
            <thead>
            <tr>
                <th style="width: 50%">{{"extensionName"|i18n}}</th>
                <th>{{"intrusiveness"|i18n}}</th>
                <th ng-if="isFirefox == false" class="no-sort"></th>
            </tr>
            </thead>


            <tbody>
            <tr ng-repeat="extension in extensions" class="extension pp-{{extension.privacyPollutionColor}}" >

                <td class="extension_icon" ng-class="{'no_icon':!extension.icon}" >
                    <img ng-class="extension.enabled?'active':'disabled'" ng-src="{{extension.icon.url}}" width="32px"/>
                    <span class="extension_name">{{extension.name}}</span>
                </td>

                <td permissions-row class="privacy_pollution" extension="extension">
                </td>

                <td ng-if="isFirefox == false" actions-row extension="extension"></td>

            </tr>
            </tbody>
        </table>


    </div>
</div>