<div>
    <div id="identities_container">
        <div class="table-responsive">
        <table class="table table-bordered">

            <tbody>

            <tr  identity-row ng-repeat="identity in identities | filter:{isReal:true} " identity="identity">
            </tr>


            <tr class="thead">
                <td colspan="3">{{"alternativeIdentities"|i18n}}</td>
            </tr>


            <tr  identity-row ng-repeat="identity in identities | filter:{isReal:false}" identity="identity">
            </tr>

            </tbody>
        </table>

    </div>
        <p><small>{{"identities_explanation"|i18n}}</small></p>
    </div>


    <div class="btn-group" role="group" aria-label="Add identity">
        <button class="btn-primary add_new_identity_btn" ng-disabled="identities.length == max_identities_nr" ng-click="add_new_sid()">{{"addIdentity"|i18n}}</button>
        <a type="button" class="add_identitiy_popover" data-placement="right" data-html="true", data-container="body"
           data-content="{{'identities-popup-text'|i18n}}" data-trigger="hover"
           data-auto-close="true"
           bs-popover></a>
    </div>


    <div ng-if="max_identities_nr - identities.length>0" style="margin-top: 20px"><span class="identities_number">{{"identitiesLeft"|i18n}} : <strong>{{max_identities_nr - identities.length}}</strong></span></div>
    <div ng-if="max_identities_nr - identities.length==0" style="margin-top: 20px"><span class="identities_number">{{"cannotAddMoreIdentities"|i18n}}</span></div>
</div>

