<div>
    <div class="item_icon user_icon"></div>
    <div class="user_area">
        <div class="user_actions">
            <div class="row">
                <div class="col-xs-6">
                    <button class="regular_btn" ng-click="show_login()">{{"login"|i18n}}</button>
                </div>
                <div class="col-xs-6">
                    <button id="register" ng-click="show_register()" class="regular_btn">{{"signUp"|i18n}}</button>
                </div>
            </div>
        </div>
    </div>
</div>