<div class="login_container_wrapper">
    <div class="login_container" ng-switch="currentView">
        <div class="icon_header"></div>
        <form class="form-signin" ng-submit="login()" ng-switch-when="login">

            <h2 class="form-signin-heading">Authentication</h2>
            <label for="login_input_email" class="sr-only">Email address</label>
            <input type="email" id="login_input_email" class="form-control" placeholder="Email address" required=""
                   ng-model="user.email"
                   autofocus="">
            <label for="login_input_password" class="sr-only">Password</label>
            <input type="password" id="login_input_password" class="form-control" placeholder="Password" required=""
                   ng-model="user.password">


            <div class="row">
                <div class="checkbox col-lg-7">
                    <label>
                        <input type="checkbox" value="remember-me" ng-model="user.remember_me" ng-checked="true"><span>Remember me</span>
                    </label>
                </div>

                <div class="checkbox col-lg-5">

                    <a class="forgot-password" ng-click="show_forgot_password()">Forgot Password?</a>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <button class="btn-primary btn-block" type="submit">Sign In</button>
                </div>
                <div class="col-lg-2">
                    <span class="or_separator">OR</span>
                </div>
                <div class="col-lg-5">
                    <button class="btn-primary btn-block" ng-click="show_signup()">Sign Up</button>
                </div>
            </div>

        </form>

        <form class="form-signup" ng-submit="signup()" ng-switch-when="signup">

            <h2 class="form-sigup-heading">Sign Up</h2>

            <label for="signup_input_email" class="sr-only">Email address</label>
            <input type="email" id="signup_input_email" class="form-control" placeholder="Email address" required=""
                   ng-model="new_user.email"
                   autofocus="">


            <label for="signup_input_password" class="sr-only">Password</label>
            <input type="password" id="signup_input_password" class="form-control" placeholder="Password" required=""
                   ng-model="new_user.password">

            <label for="signup_input_repeat_password" class="sr-only">Repeat Password</label>
            <input type="password" id="signup_input_repeat_password" class="form-control" placeholder="Confirm Password" required=""
                   ng-model="new_user.repeat_password">


            <div class="row">
                <div class="col-lg-7">
                    <button class="btn-primary btn-block" type="submit">Register</button>
                </div>
                <div class="col-lg-2">
                    <span class="or_separator">OR</span>
                </div>
                <div class="col-lg-3">
                    <button class="btn-primary btn-block" ng-click="show_login()">Sign In</button>
                </div>
            </div>

        </form>

        <form class="form-signup" ng-submit="recover_password()" ng-switch-when="forgot_password">
            <h2 class="form-sigup-heading">Recover Password</h2>

            <label for="recover_input_email" class="sr-only">Email address</label>
            <input type="email" id="recover_input_email" class="form-control" placeholder="Your email address" required=""
                   ng-model="reset_email"
                   autofocus="">

            <div class="row">
                <div class="col-lg-12">
                    <button class="btn-primary btn-block" type="submit">{{"resetPassword"|i18n}}</button>
                </div>
                <div class="col-lg-12">
                    <span class="or_separator">OR</span>
                </div>
                <div class="col-lg-12">
                    <button class="btn-primary btn-block" ng-click="show_login()">{{"signIn"|i18n}}</button>
                </div>
            </div>
        </form>

    </div>
</div>