<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Register new filter</h4>
			</div>
			<div class="modal-body">
				<label>Name your filter:
					<input type="text" ng-model="filter.filterName">
				</label>

			<div class="modal-footer" style="text-align: left">
				<div class="alert alert-info" ng-show="form.$invalid">You must name your filter</div>
				<button class="btn btn-lg btn-primary btn-block" ng-click="registerFilter()" ng-disabled='!filter.filterName'>
					Register filter
				</button>
			</div>
			</div>
		</div>
	</div>
</div>