<div>
    <h2>OSP Members</h2>

    <div ng-controller="pspDashboardController" ng-init="listOSPs()">
        <div ng-cloak class="user_logged_in" ng-if="ospList">
            <table class="table table-bordered" id="osp_list_table" datatable="ng" dt-column-defs="dtColumnDefs"
                   dt-options="dtOptions" dt-instance="dtInstance">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Phone</th>
                    <th>Membership</th>
                    <th>Description</th>
                    <th>Offers Stats</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="osp in ospList">

                    <td>{{osp.email}}</td>
                    <td>{{osp.name}}</td>
                    <td>{{osp.website}}</td>
                    <td>{{osp.phone}}</td>
                    <td>{{osp.osp_accepted_time|timestampToDateFormat}}</td>
                    <td><a type="button" class="description_popover" data-placement="auto" title="{{osp.name}}"
                           data-content="{{osp.deals_description}}" data-trigger="click" data-auto-close="true"
                           bs-popover></a></td>
                    <td>
                        <button class="btn btn-primary" ng-click="viewOffersStats(osp.userId)">View</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>