<div id="abp_preferences_tab" class="content_tab">
    <div class="col-xs-12">
        <div class="tab-content">
            <div ui-view id="ad_blocking_preferences">
                <section id="can-do-more">

                    <div id="can-do-more-content" ng-controller="abpController">
                        <ul id="features">

                            <li class="feature" ng-repeat="featureSubscription in featureSubscriptions" id="feature-{{featureSubscription.feature}}">
                                <abp-leakage-prevention subscription="featureSubscription"></abp-leakage-prevention>
                            </li>

                        </ul>
                    </div>

                </section>

                <button class="btn-primary anti-tracking-settings" ui-sref="abp.options">Anti-tracking settings</button>

            </div>
        </div>
    </div>
</div>

