<div class="tab-pane active" id="sn_preferences">

    <div ng-controller="PreferencesController" class="preferences_form" social-network="{{osp.key}}">
        <div class="actions_container top">
            <h2 class="{{osp.key}}_icon sn_icon"><span class="sn-title">{{osp.title}}</span> settings</h2>
            <div class="sn_actions">
                <button class="btn-primary" ng-if="!isFirstOspInList" ng-click="goToPreviousOsp()">Back</button>
                <button class="btn-primary" ng-click="submitPreferences()">Update <span>{{osp.title}}</span> settings</button>
                <button class="btn-primary" ng-if="!isLastOspInList" ng-click="goToNextOsp()">Next</button>
                <button class="btn-primary" ng-click="done()">Done</button>
            </div>
        </div>

        <form name="preferencesform" sf-schema="schema" sf-form="form" sf-model="model"
              ng-submit="submitPreferences()"></form>

        <div class="actions_container bottom">
            <div class="sn_actions">
                <button class="btn-primary" ng-if="!isFirstOspInList" ng-click="goToPreviousOsp()">Back</button>
                <button class="btn-primary" ng-click="submitPreferences()">Update <span>{{osp.title}}</span> settings</button>
                <button class="btn-primary" ng-if="!isLastOspInList" ng-click="goToNextOsp()">Next</button>
                <button class="btn-primary" ng-click="done()">Done</button>
            </div>
        </div>
    </div>
</div>