<html ng-app="operando">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{+P} PlusPrivacy</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/plusprivacy-theme.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.vertical-tabs.min.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/angular-loading-bar/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/jquery-custom-scrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/ui-select/select.min.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/ui-select/selectize.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/angular-datatables/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/angular-ui-notification/angular-ui-notification.min.css">
    <link rel="stylesheet" type="text/css" href="/ui-libs/jquery-tipsy/tipsy.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/font-awesome.min.css">
    <script type="text/javascript" src="/assets/bootstrap/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/jquery.bootstrap.wizard.js"></script>

    <script type="text/javascript" src="/assets/bootstrap/js/plusprivacy-theme.js"></script>
    <script type="text/javascript" src="/ui-libs/angular.min.js"></script>
    <script type="text/javascript" src="/ui-libs/oc-lazy-load/ocLazyLoad.min.js"></script>
    <script type="text/javascript" src="/ui-libs/ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-animate.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-resource.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-loading-bar/loading-bar.min.js"></script>
    <script type="text/javascript"
            src="/ui-libs/jquery-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/ui-libs/ui-select/select.min.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-datatables/angular-datatables.min.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-datatables/angular-datatables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-modal-service.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-ui-notification/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="/ui-libs/jquery-tipsy/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/ui-libs/polyglot/polyglot.min.js"></script>

    <script type="text/javascript" src="/ui-libs/angular-strap/angular-strap.min.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-strap/angular-strap.tpl.js"></script>

    <script type="text/javascript" src="/ui-libs/angular-cookies.js"></script>
    <script type="text/javascript" src="/ui-libs/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/directives/dashboard-directives.js" charset="utf-8"></script>

    <script type="text/javascript" src="apps/OperandoCore.js" charset="utf-8"></script>
    <script type="text/javascript" src="services/firstrun-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="services/messenger-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="services/i18n-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="services/watchdog-service.js" charset="utf-8"></script>
    <script type="text/javascript" src="apps/OperandoApp.js" charset="utf-8"></script>
    <script type="text/javascript" src="controllers/appController.js" charset="utf-8"></script>
    <script type="text/javascript" src="controllers/accountController.js" charset="utf-8"></script>
    <script type="text/javascript" src="controllers/socialAppsController.js" charset="utf-8"></script>

    <script type="text/javascript" src="util/OSP.Settings.js" charset="utf-8"></script>

    <!--<script type="text/javascript" src="/schema-form.js"></script>-->
    <script type="text/javascript" src="ui-libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="ui-libs/schema-form/tv4/tv4.js"></script>
    <script type="text/javascript" src="ui-libs/schema-form/objectpath/ObjectPath.js"></script>
    <script type="text/javascript" src="ui-libs/schema-form/schema-form.min.js"></script>
    <script type="text/javascript" src="ui-libs/schema-form/decorator/bootstrap-decorator.min.js"></script>


    <script type="text/javascript" src="/util/computePrivacyPollution.js" charset="utf-8"></script>
</head>
<body ng-controller="appCtrl" class="operando">
<div>
    <div>
    <nav class="navbar operando-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="http://plusprivacy.com" target="_blank">
                    <img class="image_logo" alt="Brand" src="/assets/images/icons/logo-light-big.png">
                </a>
            </div>

            <ul class="nav navbar-nav pull-right">

                <li>
                    <a class="menu_icon faq_icon" href="https://plusprivacy.com/faq/" target="_blank">
                        <div class="menu_item_content">
                            <span class="email">FAQ</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="menu_icon community_icon" href="https://plusprivacy.com/community/" target="_blank">
                        <div class="menu_item_content">
                            <span class="email">Community</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="menu_icon blog_icon" href="https://plusprivacy.com/blog/" target="_blank">
                        <div class="menu_item_content">
                            <span class="email">Blog</span>
                        </div>
                    </a>
                </li>


                <li ui-sref-active="active">
                    <a class="menu_icon contact_icon" ui-sref="contact">
                        <div class="menu_item_content">
                            <span class="email">Contact</span>
                        </div>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a class="menu_icon privacy_policy_icon" ui-sref="privacyPolicy">
                        <div class="menu_item_content">
                            <span class="email">Privacy Policy</span>
                        </div>
                    </a>
                </li>

                <li ui-sref-active="active" ng-if="userIsLoggedIn">
                    <a class="menu_icon notifications_orange_icon" ui-sref="notifications">
                        <div class="menu_item_content">
                            <notification-counter></notification-counter>
                        </div>
                    </a>
                </li>

                <li ui-sref-active="active" class="dropdown dropdown-user dropdown-dark" ng-if="userIsLoggedIn">

                    <a class="menu_icon user-account dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <div class="menu_item_content">
                            <span class="email"> {{user.email}} </span>
                        </div>
                    </a>


                    <ul class="dropdown-menu dropdown-menu-default" ng-if="userIsLoggedIn">
                        <li ng-class="{active: $state.includes('account')}">
                            <a class="menu_icon account" ui-sref="account.personal-details">Account</a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a class="menu_icon logout" ng-click="logout()">
                                Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.container-fluid -->
    </nav>


    <div id="wrapper">

        <div class="sidebar_expandable_menu">

            <div class="col-xs-2"> <!-- required for floating -->

                <ul class="nav nav-tabs tabs-left primary-menu panel-group" id="accordion" role="tablist"
                    aria-multiselectable="true">

                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon home_icon" ui-sref="home">Home</a>
                    </li>

                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon social_networks_icon" ui-sref="socialNetworks"  change-state-if="{condition:$state.includes('socialNetworks') || $state.includes('preferences'),state:'home'}">Social Networks</a>
                        <ul class="panel-group nav nav-tabs tabs-left sub-menu pq_social_network" id="sn_content" ng-if="$state.includes('socialNetworks') || $state.includes('preferences')"
                            ng-controller="socialAppsController">
                            <li ng-repeat="osp in osps">
                                <a
                                        class="menu_icon" ng-class="osp.key+'_icon'"
                                        ui-sref-active="active"
                                        ui-sref="preferences.sn({sn:osp.key})">{{osp.title}}</a>
                            </li>
                        </ul>
                    </li>

                    <li  class="no-sub-menu">
                        <a class="menu_icon extensions_icon" ui-sref="extensions" change-state-if="{condition:$state.includes('extensions') || $state.includes('network'),state:'home'}" >Connected apps</a>
                        <ul class="panel-group nav nav-tabs tabs-left sub-menu pq_social_network" id="apps_content" ng-if="$state.includes('extensions') || $state.includes('network') "
                            ng-controller="socialAppsController">
                            <li>
                                <a ui-sref="extensions" ui-sref-active="active" class="menu_icon plugin_icon">
                                    Chrome extensions</a>
                            </li>
                            <li ng-repeat="sn in sns">
                                <a
                                        class="menu_icon" ng-class="sn+'_icon'"
                                        ui-sref-active="active"
                                        ui-sref="network.apps({sn:sn})">{{sn}} connected apps</a>
                            </li>
                        </ul>
                    </li>


                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon privacy_deals_icon" ui-sref="deals">Consent Deals</a>
                    </li>

                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon identity_management_icon" ui-sref="identityManagement">My Identities</a>
                    </li>

                    <li ui-sref-active="active" class="no-sub-menu"><a class="menu_icon abp_icon"
                                                                       ui-sref="abp">Ad blocking & anti-tracking</a></li>
                    <li ui-sref-active="active" class="no-sub-menu">
                        <a class="menu_icon feedback_icon"
                                                                       ui-sref="feedback">Feedback</a>
                    </li>

                </ul>
                <div class="app_version">Version: {{appVersion}}</div>
            </div>
        </div>


        <div class="content_wrapper">
            <div class="content" ui-view></div>
        </div>

    </div>

    <div id="loading-bar-container"></div>
    <footer>
        <span id="return-to-top"><i class="icon-chevron-up"></i></span>

        <div id="footer-copyright">
            <div id="footer-copyright-content" class="clearfix">

                <p id="european_commission">This service is supported by the European Commission under the Horizon 2020 Programme (H2020), as part
                    of the OPERANDO project (GA no. 653704).
                </p>

            </div>
        </div>
    </footer>
</div>
<!--<div class="loggedin_status_false">
    <div ng-if="state.current.name == 'privacyPolicy'" class="privacyPolicyNotLoggedIn">
        <div ng-include src="'/views/privacy_policy.html'"></div>
    </div>
    <div class="big-loader" ng-if="state.current.name  != 'privacyPolicy'">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>-->

</div>
</div>
</body>
</html>