<h2>Deals</h2>
<div id="osp_dashboard">
    <div ng-controller="ospDashboardController">

        <div ng-cloak class="user_logged_in" ng-if="offersStats">
            <table class="table table-bordered" id="osp_offers_table" datatable="ng"
                   dt-column-defs="offerStatsColumnDefs"
                   dt-options="offerStatsOptions" dt-instance="offerStatsInstance" id="offer_stats">
                <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th style="width:120px">Start date</th>
                    <th style="width:120px">End date</th>
                    <th style="width:140px">Contracts</th>
                    <th style="width:110px">Distribution</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="offer in offersStats" ng-cloak>
                    <td class="offers_logo"><img width="16px" ng-cloak
                                                 data-ng-src="data:image/png;base64,{{offer.logo}}"></td>
                    <td>{{offer.name}}</td>
                    <td class="offers_description">{{offer.description}}</td>
                    <td>{{offer.start_date|timestampToDateFormat}}</td>
                    <td>{{offer.end_date|timestampToDateFormat}}</td>
                    <td>{{offer.deals_number}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="viewDetails(offer)">View details</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>