<div class="tab-pane active" id="sn_preferences">

    <div ng-controller="PreferencesController" class="preferences_form" social-network="{{osp.key}}" ng-show="schema">
        <div class="actions_container top">
            <h2 class="{{osp.key}}_icon sn_icon"><span class="sn-title">{{socialNetworksPrivacySettingsLabel}} &nbsp; </span>
                <div class="username_spinner" ng-if="authenticated === undefined">
                    <div class="username_bounce1"></div>
                    <div class="username_bounce2"></div>
                    <div class="username_bounce3"></div>
                </div>
                <span ng-if="socialNetworkEmail">({{socialNetworkEmail.account}})</span>
                <span ng-if="authenticated === false"> - {{"notLoggedIn"|i18n}}</span>
            </h2>
            <div class="sn_actions">
                <button class="btn-primary" ng-click="submitPreferences()">{{updateSettingsLabel}}</button>
                <how-it-works popup-target="social-network-settings-{{osp.key}}"></how-it-works>
            </div>
        </div>

        <form name="preferencesform" sf-schema="schema" sf-form="form" sf-model="model"
              ng-submit="submitPreferences()"></form>

        <div class="actions_container bottom">
            <div class="sn_actions">
                <button class="btn-primary" ng-click="submitPreferences()">{{updateSettingsLabel}}</button>
            </div>
        </div>
    </div>
</div>