<!--Home-->

<div id="home_tab" class="active content_tab">

    <div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div ui-view>
                <div class="tab-pane active" id="main">


                    <h3 align="center">{{"plusprivacyWelcomeMessage"|i18n}}</h3>

                    <div class="main-parent">
                        <div class="image_container">
                        </div>
                        <div class="presentation">

                            <p>{{"plusprivacyMessage1"|i18n}}</p>
                            <p>{{"plusprivacyMessage2"|i18n}}</p>
                            <p>{{"plusprivacyMessage3"|i18n}}</p>

                        </div>
                        <div class="home_single_click">
                            <singleclickprivacy></singleclickprivacy>
                        </div>
                    </div>


                </div>
            </div>

        </div>


    </div>
    </div>
    <!-- END Home-->