<!--PRIVACY POLICY-->
<div id="privacy_policy_tab" >
    <h1>{{"PlusPrivacyPrivacyPolicy"|i18n}}</h1>
    <div id="privacy_policy">
        <h2 style="font-size:25px">{{"overview"|i18n}}</h2>
        {{"privacyPolicyOverview"|i18n}}
        <h2 style="font-size:25px">{{"dataMinimizationAndTransparency"|i18n}}</h2>
        {{"dataMinimizationAndTransparencyText"|i18n}}
        <h2 style="font-size:25px">{{"fingerprinting"|i18n}}</h2>
        {{"fingerprintingText"|i18n}}
        <h2 style="font-size:25px">{{"anonymousUse"|i18n}}</h2>
        {{"anonymousUseText"|i18n}}
        <h2 style="font-size:25px">{{"storingData"|i18n}}</h2>
        {{"storingDataText"|i18n}}
        <h2 style="font-size:25px">{{"transientEmailData"|i18n}}</h2>
        {{"transientEmailDataText"|i18n}}
        <h2 style="font-size:25px">{{"cookies"|i18n}}</h2>
        {{"cookiesText"|i18n}}
        <h2 style="font-size:25px">{{"complianceWithCourt"|i18n}}</h2>
        {{"complianceWithCourtText"|i18n}}
        <h2 style="font-size:25px">{{"accountDeletion"|i18n}}</h2>
       {{"accountDeletionText"|i18n}}
    </div>
</div>
<!-- END PRIVACY POLICY-->