<div id="social_networks_tab" ui-view>
    <div class="row">
        <div class="col-md-12">
            <div class="single_click_privacy_panel clearfix">
            <div class="single_click_privacy_button_ctn">
                <singleclickprivacy></singleclickprivacy>
                <how-it-works popup-target="single-click-privacy"></how-it-works>
            </div>

                <div class="apply_settings_icon col-xs-5">
                </div>
                <div class="col-xs-7">
                    <h3>Single click social network privacy</h3>
                </div>

                <div class="col-xs-12">
                    <p>{{"singleClickPrivacyMessage"|i18n}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>