.image-radio-button-label {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	background: #ececec;
}

.image-radio-button-label.checked {
	background: #777;
}

p .image-radio-button-label,
p .image-radio-button-label.checked {
	position: static;
	background: none;
}

.image-radio-button {
	position: absolute;
	top: 50%;
	left: 50%;
}

p .image-radio-button {
	position: static;
}

.image-radio-button-label img {
	position: relative;
	display: block;
	max-width: 136px;
	height: auto;
	padding: 10px;
}