.wrapper-dropdown {
    /* Size & position */
    clear: both;
    position: relative;
    width: 200px;
    margin: 0;
    padding: 12px 15px;
 
    /* Styles */
    background: #f7f7f7;
    /*border-radius: 5px;*/
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}
 
.wrapper-dropdown:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #cbcbcb transparent;
}
.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
 
    /* Styles */
    background: #fff;
    /*border-radius: 0 0 5px 5px;*/
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
 
    /* Hiding */
    max-height: 0;
    overflow: scroll;
}
.wrapper-dropdown .dropdown li {
    padding: 0 10px ;
}
 
.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}
 
.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
}
 
.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
 
/* Hover state */
 
.wrapper-dropdown .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */
 
.wrapper-dropdown.active {
    /*border-radius: 5px 5px 0 0;*/
    background: #777;
    box-shadow: none;
    border-bottom: none;
    color: white;
}
 
.wrapper-dropdown.active:after {
    border-color: #fff transparent;
}
 
.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-width: 228px;
    max-height: 311px;
}