<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Single Click Privacy Enforcement</h3>
            </div>
            <div class="modal-body">

                <p>This will configure optimal privacy settings in all your social network accounts. Continue?</p>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="enforcePrivacy()" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary-black" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>