<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content settings_history">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h3 class="modal-title">Social networks settings history</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default" ng-repeat="setting in history">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="panel-body">{{setting.filename}}</div>
                        </div>

                        <div class="col-md-6">
                            <button style="float:right; margin: 6px;" class="btn-primary">Load</button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">

                <button type="button" ng-click="close('Yes')" class="btn btn-primary-black" data-dismiss="modal">Close
                </button>

            </div>
        </div>
    </div>
</div>