<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.operando">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PlusPrivacyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="89d9e0d7caf9cde65df1b22cd21511f9997c05fc" />

        <receiver
            android:name=".utils.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:screenOrientation="portrait"
            android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.SignUpActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".feedback.view.FeedbackActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.SocialNetworkPrivacySettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FacebookSettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LinkedinSettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TwitterSettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GoogleSettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.FacebookWebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.LinkedinWebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.TwitterWebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.GoogleWebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.ScannerActivity"
            android:label="Application Scanner" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.IdentitiesActivity"
            android:label="Identity Management" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.UserAccountActivity"
            android:label="User account" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.CreateIdentityActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.PFBActivity"
            android:label="Privacy for Benefit" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.NotificationsActivity"
            android:label="Notifications" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.PermissionsActivity"
            android:label="Permissions" />
        <activity android:name=".activity.KotlinBrowserActivity"></activity>
        <activity
            android:name=".lightning.activity.MainBrowserActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.LightTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->

            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE"/>-->

            <!--<data android:scheme="file"/>-->
            <!--<data android:mimeType="text/html"/>-->
            <!--<data android:mimeType="text/plain"/>-->
            <!--<data android:mimeType="application/xhtml+xml"/>-->
            <!--<data android:mimeType="application/vnd.wap.xhtml+xml"/>-->
            <!--</intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
            <!--
                  For these schemes where any of these particular MIME types
                  have been supplied, we are a good candidate.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <!-- For viewing saved web archives. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lightning.activity.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/settings"
            android:theme="@style/Theme.SettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lightning.activity.IncognitoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.DarkTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.INCOGNITO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lightning.activity.ReadingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/reading_mode"
            android:theme="@style/Theme.SettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.READING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.SettingsActivity"
            android:label="Settings"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.HtmlActivity"
            android:label="About PlusPrivacy"></activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.TrustedAppsActivity"
            android:label="Coming Soon"></activity>

    </application>

</manifest>